
.navbar {
  margin-bottom: 30%;
  overflow: hidden;
  background-color: #5BA7E9;
  position: fixed;
  top:0;
  width: 100%;
  
}
.navbar h1 {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: #5BA7E9;
}

.titre{
  font-size: 32px;
  text-shadow: -1px -1px #809bf1, 1px 1px#809bf1, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  padding:20px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #809bf1;  
  -webkit-box-shadow: 2px 2px 6px #809bf1;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:0px;
  background-color:#5BA7E9; 
  margin-bottom: 50px;
}
body {
	margin:0;
    background :white url(../../css/b.jpeg);
    background-color: #fff;
    width: auto;
    height: auto;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
    font-family: Helvetica;
}
 
h2 {
    color: #a6a6a6;
    text-align: center;
}
 
form.inscription{
	font-weight: bold;
	width: 600px;
    height: 835px;
    margin: 100px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    text-align: center;
    padding-top: 1px;

}
form.cle_api{
	font-weight: bold;
	width: 600px;
    height: 270px;
    margin: 300px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    text-align: center;
    padding-top: 1px;

}

form.modification{
	width: 600px;
    height: 550px;
    margin: 190px auto;
    background: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    font-weight: bold;
    padding-top: 1px;
}

form {
	font-weight: bold;
    width: 600px;
    height: 400px;
    margin: 230px auto;
    background: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    padding-top: 1px;
}
#avatar{
	text-align: center;
	width: 600px;
    height: 580px;
    margin: 200px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    padding-top: 1px;
}
#doc{
  padding-left: 10px; 
  width: 900px;
    height: 860px;
    margin: 130px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    padding-top: 1px;
    font-size: 17px;
}
 
.button {   
    border-radius: 3px;
    border: 1px solid #336895;
    box-shadow: inset 0 1px 0 #8dc2f0;
    width: 242px;
    height: 40px;
    margin-top: 10px;
     
    background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
     
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #336895;
     
    font-size: 13px;
    margin-bottom: 40px;
}
 
.button:hover {
    background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}
 
.button:active {
    background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
     
    box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;}
}
#boutton {
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #336895;
    box-shadow: inset 0 1px 0 #8dc2f0;
    width: 242px;
    height: 40px;
    margin-top: 20px;
}
#message{
	color: #00cc2e;
	font-weight: bold;
	margin-right: 70px;
	margin-left: 70px;
	background-color: #bbfcc9;
}
img{
	width: 200px;
	height: 200px;
}
.button_ {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4889C2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_:hover {background-color:#5BA7E9}

.button_:active {
  background-color: #5BA7E9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
footer {
	font-weight: bold;
	font-size: 15px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#5BA7E9;
   color: white;
   text-align: center;
}
#message_erreur{
	color: #fe3004;
	font-weight: bold;
	margin-right: 70px;
	margin-left: 70px;
	background-color: #ffd1c7;
}
table
{
  border:3px solid red;
  border-collapse:collapse;
  width:50%;
  margin:auto;
}
th{
  border: medium solid red;
  background-color: #ffcfda;
}
td{
  font-family: sans-serif;
  border: medium solid red;
  text-align: center;
}
td, th 
{ 
    text-align: center;
    padding: 10px;
}

p.url{
  color: red;
  background-color: #ffcfda;
  font-weight: bold;
  margin-right: 10px;
}