table
{
	border:3px solid #77d256;
	border-collapse:collapse;
	width:50%;
	margin:auto;
}
th{
	border: medium solid #3dd108;
	background-color: #a5f189;
}
td{
	font-family: sans-serif;
	border: medium solid #3dd108;
	text-align: center;
}
td, th 
{	
    text-align: center;
    padding: 10px;
}
body {
  	font-family: "Lato", sans-serif;
}

h1,h2{
	text-align: center;
}
.main {
 	margin-left: 305px; 
}

nav {
	height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 18px;
}

nav a,nav p {
  	padding: 6px 8px 6px 16px;
  	text-decoration: none;
  	font-size: 25px;
  	color: #818181;
  	display: block;
}
nav p{
	text-decoration: none;
	margin-top: 60%;
	font-size: 15px;
}

nav a:hover {
  	color: #f1f1f1;
}
.card {
	display: inline-block;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	width: 20%;
 	border-radius: 5px;
 	margin-bottom: 15px; 
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.container {
  	padding: 2px 10px;
}

.boutton {
	margin: 70px;
 	display: inline-block;
  	padding: 15px 25px;
  	font-size: 18px;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	color: #fff;
  	background-color: 50bd28;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
}

.boutton:hover {
	background-color:#5dd930
}

.boutton:active {
  	background-color: #68f137;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
p{
	font-size: 20px;
}
#center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#bas{
	margin-top: 50px;
	margin-bottom: 50px;
}
body.font{
	margin:0;
    background :white url(../../css/b.jpg);
    background-color: #fff;
    width: auto;
    height: auto;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
    font-family: Helvetica;
}
h1{
	font-size: 32px;
  text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  padding:20px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:0px;
  background-color:#3dd108; 
  margin-bottom: 50px; 
}
.font p{
	font-size: 17px;
}
form.inscription{
	font-weight: bold;
	width: 600px;
    height: 500px;
    margin: 100px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    text-align: center;
    padding-top: 1px;

}
form{
	font-weight: bold;
    width: 600px;
    height: 400px;
    margin: 160px auto;
    background: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    padding-top: 1px;
}
.button {   
    border-radius: 3px;
    border: 1px solid #61b841;
    box-shadow: inset 0 1px 0 #5bec25;
    width: 242px;
    height: 40px;
    margin-top: 10px;
    background: linear-gradient(bottom, #3dd108 0%, #3dd108 100%);
    background: -o-linear-gradient(bottom, #3dd108 0%, #3dd108 100%);
    background: -moz-linear-gradient(bottom, #3dd108 0%, #3dd108 100%);
    background: -webkit-linear-gradient(bottom, #3dd108 0%, #3dd108 100%);
    background: -ms-linear-gradient(bottom, #3dd108 0%, #3dd108 100%);
     
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #336895;
    font-size: 13px;
    margin-bottom: 40px;
}
 
.button:hover {
    background: linear-gradient(bottom, #47e60d 0%, #47e60d 100%);
    background: -o-linear-gradient(bottom, #47e60d 0%, #47e60d 100%);
    background: -moz-linear-gradient(bottom, #47e60d 0%, #47e60d 100%);
    background: -webkit-linear-gradient(bottom, #47e60d 0%, #47e60d 100%);
    background: -ms-linear-gradient(bottom, #47e60d 0%, #47e60d 100%);
}
 
.button:active {
    background: linear-gradient(bottom, #5ff12b 0%, #81fa56 100%);
    background: -o-linear-gradient(bottom, #5ff12b 0%, #81fa56 100%);
    background: -moz-linear-gradient(bottom, #5ff12b 0%, #81fa56 100%);
    background: -webkit-linear-gradient(bottom, #5ff12b 0%, #81fa56 100%);
    background: -ms-linear-gradient(bottom, #5ff12b 0%, #81fa56 100%);
     
    box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;}
}

#message{
	color: #00cc2e;
	font-weight: bold;
	margin-right: 70px;
	margin-left: 70px;
	background-color: #bbfcc9;
}

footer {
	font-weight: bold;
	font-size: 30px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#3dd108;
   color: white;
   text-align: center;
   text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
}
#message_erreur{
	color: #fe3004;
	font-weight: bold;
	margin-right: 70px;
	margin-left: 70px;
	background-color: #ffd1c7;
}
form h2 {
    color: #a6a6a6;
    text-align: center;
}
